@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

*:not(p) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.4em;
  color: hsl(0, 0%, 42%);
  display: flex;
  justify-content: center;
  height: 100vh;
}

h2 {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

a, a:visited {
    color: hsl(0, 0%, 7%);
}

a:hover {
    color: hsl(47, 88%, 63%);
}

.blog-post {
  width: 385px;
  margin: auto;
  background-color: white;
  border-radius: 16px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 10px 10px 0 hsl(0, 0%, 7%);
  padding: 24px;
  box-sizing: border-box;
}

.blog-post img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 12px;
}

.label {
    color: hsl(0, 0%, 7%);
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 800;
}

.date {
    color: hsl(0, 0%, 7%);
    font-size: 0.8em;
    margin: 12px 0;
}

.author {
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: 0.8em;
    margin-top: 12px;
}

.author img {
    margin-right: 1em;
    width: 36px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: hsl(0, 0%, 7%);
}

.attribution a {
    color: hsl(0, 0%, 7%);
}

@media screen and (max-width: 799px) {
    .blog-post {
        max-width: 90%;
    }
}